<div class="container">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="name">StartDate</label>
            <input
              type="date"
              class="form-control"
              id="startDate"
              name="startDate"
              [(ngModel)]="startDate"
              required
            />
          </div>
          <div class="form-group">
            <label for="devolutionDate">DevolutionDate</label>
            <input
              type="date"
              class="form-control"
              id="devolutionDate"
              name="devolutionDate"
              [(ngModel)]="devolutionDate"
              required
            />
          </div>
         
          <div class="form-group">
            <label for="costume">Costume</label>
            <input
              type="text"
              min="0"
              class="form-control"
              id="costume"
              name="costume"
              [(ngModel)]="costume"
              required
            />
          </div>
  
          

          <div class="form-group">
            <label for="client">Client</label>
            <input
              type="text"
              class="form-control"
              id="client"
              name="client"
              [(ngModel)]="client"
              required
            />
          </div>
         
          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
            Crear
          </button>
        </form>
      </div>
    </div>
  </div>
  