<div class="container" *ngIf="costume">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="costume.name"
              required
            />
          </div>
          <div class="form-group">
            <label for="brand">Brand</label>
            <input
              type="text"
              class="form-control"
              id="brand"
              name="brand"
              [(ngModel)]="costume.brand"
              required
            />
          </div>
          <div class="form-group">
            <label for="year">year</label>
            <input
              type="text"
              class="form-control"
              id="year"
              name="year"
              [(ngModel)]="costume.year"
              required
            />
          </div>
  
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              class="form-control"
              rows="5"
              id="description"
              name="description"
              [(ngModel)]="costume.description"
              required
            ></textarea>
          </div>

          <div class="form-group">
            <label for="category">Category</label>
            <input
              type="text"
              class="form-control"
              id="category"
              name="category"
              [(ngModel)]="costume.category.id"
              required
            />
          </div>
          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
  
