<div class="container animated fadeIn"  *ngIf="client">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
              type="text"
              maxlength="250"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="client.name"
              required
            />
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input
              
              type="text"
              min="0"
              max="100"
              maxlength="3"
              class="form-control"
              id="age"
              name="age"
              [(ngModel)]="client.age"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              disabled="disabled"
              class="form-control"
              id="email"
              name="email"
              [(ngModel)]="client.email"
              required
            />
          </div>
  
        

          <div class="form-group">
            <label for="category">Password</label>
            <input
              type="text"
              maxlength="45"
              class="form-control"
              id="password"
              name="password"
              [(ngModel)]="client.password"
              required
            />
          </div>
          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
  




