<div class="container">

    <table class="table table-success table-striped">
      <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Description</th>
            <th scope="col">Ver</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let category of categories">
            <td>{{category.id}}</td>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td><button class="btn btn-outline-primary" routerLink="/category/detalle/{{category.id}} "><i class="far fa-eye"></i> Ver</button></td>
            <td><button class="btn btn-outline-warning" routerLink="/category/update//{{category.id}}"><i class="fas fa-user-edit"></i> Editar</button></td>
            <td> <button class="btn btn-outline-danger" (click)="eliminar(category.id)"  ><i class="far fa-trash-alt"></i> Eliminar</button></td>
          </tr>
         
        </tbody>
    </table>
  
    <div class="mt-3">
      <button  class="btn btn-outline-success btn-lg" routerLink="/category/create" >
        <i class="fas fa-list"></i> Agregar Producto
  
      </button>
    </div>
  </div>
