<div class="container animated fadeIn" *ngIf="reservation">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="startDate">StartDate</label>
            <input
              type="date"
              class="form-control"
              id="startDate"
              name="startDate"
              [(ngModel)]="reservation.startDate"
              required
            />
          </div>
          <div class="form-group">
            <label for="devolutionDate">DevolutionDate</label>
            <input
              type="date"
              class="form-control"
              id="devolutionDate"
              name="devolutionDate"
              [(ngModel)]="reservation.devolutionDate"
              required
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Costume</label
              >
  
              <select
                class="custom-select"
                id="inputGroupSelect01"
                [(ngModel)]="reservation.costume.id"
                name="costume"
                required
              >
              <option selected>{{reservation.costume.id}}</option>
                <option
                  [value]="costumeId"
                  *ngFor="let costumeId of listCostume"
                >
                  {{costumeId }}
                </option>
              </select>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01"
                >Client</label
              >
  
              <select
                class="custom-select"
                id="inputGroupSelect01"
                [(ngModel)]="reservation.client.idClient"
                name="client"
                required
              >
              <option selected>{{reservation.client.idClient}}</option>
                <option
                  [value]="clientId"
                  *ngFor="let clientId of listClient"
                >
                  {{ clientId }}
                </option>
              </select>
            </div>
          </div>

  
         
          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
  
