nav {
  font-size:medium;
  margin-bottom: 20px;
  background: rgb(36, 75, 79);
  background: linear-gradient(
    0deg,
    rgba(36, 75, 79, 1) 0%,
    rgba(16, 30, 32, 1) 23%,
    rgba(0, 0, 0, 1) 50%,
    rgba(2, 6, 6, 1) 78%,
    rgba(29, 97, 105, 1) 100%
  );
  
}
.fixed {
  position: fixed;
  width: 100%;
  transition: 0.2s linear;
  top: 0px;
  z-index: 1;

}

.nofixed {
  position: static;
  transition: 0.2s linear;
  top: -50px;
}

