<div class="container animated fadeIn" *ngIf="message">
    <div class="row mt-5">
      <div class="col-md-4 mx-auto">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
            <div class="form-group">
              <label for="messageText">Message</label>
              <textarea
                class="form-control"
                rows="5"
                id="messageText"
                name="description"
                [(ngModel)]="message.messageText"
                required
              ></textarea>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Costume</label
                >
    
                <select
                  class="custom-select"
                  id="inputGroupSelect01"
                  [(ngModel)]="message.costume.id"
                  name="costume"
                  required
                >
                <option selected>{{message.costume.id}}</option>
                  <option
                    [value]="costumeId"
                    *ngFor="let costumeId of listCostume"
                  >
                    {{costumeId }}
                  </option>
                </select>
              </div>
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"
                  >Client</label
                >
    
                <select
                  class="custom-select"
                  id="inputGroupSelect01"
                  [(ngModel)]="message.client.idClient"
                  name="client"
                  required
                >
                <option selected>{{message.client.idClient}}</option>
                  <option
                    [value]="clientId"
                    *ngFor="let clientId of listClient"
                  >
                    {{ clientId }}
                  </option>
                </select>
              </div>
            </div>

        


          <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
            Actualizar
          </button>
        </form>
      </div>
    </div>
  </div>
  
